@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
body{
    font-family: 'Noto Sans TC',sans-serif;
    font-weight:300;
}

*, *:after,*:before{
    box-sizing: border-box;
    padding:0px 0px;
    margin:0px 0px;
    text-decoration: none;
}

.container{
    margin-top:70px;
} 
.topposter{
    

}
.poster{
    height:auto;
    width:100%;
}
.row{
    margin-top:20px;
}
.right-vote{
    display:block;
}
.sticker{
    width:100%;
    height:auto;
}
.btn-group{
    margin-top:5px;
    width:100%;
}
li{
    list-style: none;
}
h3{
    font-weight: bold; 
}
@media screen and (max-width: 1280px){

}
@media screen and (max-width: 768px){
    .left-video{
        display: none;
    }
}
@media screen and (max-width: 480px){
    .left-video{
        display: none;
    }
}
